

  <h1>Welcome <%= @player1.name %> and <%= @player2.name %>. Prepare for BATTLE</h1>
    <h2><%= @player2.name %> Health = <%=@player2.health%>HP</h2>
    <h2><%= @player1.name %> Health = <%=@player1.health%>HP</h2>

    <form action="/attack1" method="post">
      <input type="submit" value="ATTACK PLAYER 1">
      </form>

    <form action="/attack2" method="post">
      <input type="submit" value="ATTACK PLAYER 2">
      </form>
